/* .AddPost {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.AddPost label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.AddPost input,
.AddPost textarea,
.AddPost select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
}

.AddPost button {
    margin: 5px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
}

.AddPost button:hover,
.AddPost button:active {
    color: white;
    background-color: #fa923f;
} */

.AddPost{
    font-family: 'Times New Roman', Times, serif;
}